<div class="box">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <h1><b>{{Title}}</b></h1>
            </div>
        </div>
        <div class="level-right">
            <span class="tag is-large {{Status.color.css-class]}}">{{Status.Name}}</span>
        </div>
    </nav>
    <p>
    </p>
    <hr>
    <b>History</b>
    <p>
    </p>
    <br>
    <h1>Created On: 11/5/17</h1>
</div>